body {
	background-image: url("../images/fondo.jpg");
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	display: inline;
	margin-right: 70px;
}

a {
	color: #0174DF;
}

#descripcion {
	font-size: 16px;
}
