<!DOCTYPE html>
<head>
	<title><%= title %></title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h2>QuizGame</h2>
	<%= respuesta %><p>
	<a href="/quizes/question"> Intentelo otra vez </a>
</body>

</html>
